<div class="maingallery main-content-wrapper">
<!--div id=main class="item_wrap"-->
  <div class="main mkv" style="height: 0px;">
    <div class="title">
      <strong> Grand Capgemni Motors Car </strong>
      <br>
      It's Woooowsome!!!
      <br>
    </div>
  <ul>
  <li>Bold new looks</li>
  <li>New levels of connectivity</li>
  <li>Unbeatable space and practicality</li>
  </ul>
  <br>
      <div class="testDrive">
        <a href="#"><img src="src/assets/test.png"> </a>
      </div>
      <div class="chekOut">
        <a href="#"><img src="src/assets/price.png"> </a>
      </div>
      <div class="bookDrive">
        <a href="#"><img src="src/assets/book.png"> </a>
      </div>
  </div>
   <div class="carImage" >
  <img src="src/assets/carimage.png"/>
  </div>
  <div class="galleryButtons">
  <a href="#"><img src="src/assets/cover.jpg" class="imgButton"></a>
  <a href="#"><img src="src/assets/gallerybutton.jpg" class="imgButton"></a>
  <a href="#"><img src="src/assets/expButton.jpg" class="imgButton"></a>
</div>
</div>
 
  