.item_wrap{
	/*font-size: 15px;
    line-height: 150%;
    font-family: Arial,AppleGothic,Sans-Serif,Helvetica;
    color: #333;
	margin-left:15%;
	margin-top:10%;*/
    }
    
.main{
    width: 100%;
    float: left;
}

.carImage{
position:relative;
}

.carImage img{
    width:100%;
}

.galleryButtons
{
text-align: center;    
/*margin-left:35%;
margin-top: 34%;*/
height: 50px;
position: relative;
float: left;
width: 100%;
margin-bottom: 25px;
}

.imgButton{
    margin-left:5%;
    margin-right:5%;
    }

.colorbuttons
{
    margin-top: 5%;
    /*margin-left: 92%;*/
}
#colorb
{
    border-radius: 50%;
    display: inline-block;
    margin-left:0px;
    height: 45px;
    width: 45px;
}

.w3-red {
    background: #d12424;
    border: 1px solid #d12424 ;
}

.w3-blue{
    background: #4d699b;
    border: 1px solid #4d699b;
}

.w3-black{
    background: #333;
    border: 1px solid #333;
}


#cover{
    width: 100%;
    float: left;
}

.grid-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding: 5px;
}

.grid-item {
  padding: 20px 10px;
  font-size: 30px;
  text-align: center;
}

.grid-item img{
    width:90%;
    border:1px solid #eee; 
}

.get-quote-btn{
    width: 154px;
    padding: 0;
    background: white;
    color: #292929;
    border-radius: 5px;
    margin: 10px 0;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    height: 40px;
    text-align: center;
    outline: none;
}


.get-quote-btn span.content{
    margin-top: 5px;
    display: inline-block;
}

.get-quote-btn span.arrow{
   float: right;
    padding: 5px 8px;
    background: #dbdbdb;
    display: inline-block;
    height: 36px;
    vertical-align: bottom;
    width: 35px;
    border: 1px solid #dbdbdb;;
}

.get-quote-btn span.arrow i{
    font-size: 20px;
    color: #feffff;
    font-weight: 600;
}

